<div class="col-sm-12 carousel carousel-1 upload-summary-wrap">
	<div class="col-sm-10 col-lg-6 col-md-10 upload-summary row">
		<div class="col-sm-3 col-lg-3 carousel-1-img upload-summary-img summary-img">
			&nbsp;
		</div>
		<div class="col-xs-10 col-sm-9 col-lg-9 carousel-content">
			<p>
				Please upload all documents we need from you to move your loan forward.
			</p>
			<div class="btn-wrap">
				<button type="button" class="primary-button" (click)="uploadDocument()">
                        Yes, Upload Now
                    </button>
				<a href="javascript:void(0);" class="take-dashboard" (click)="loadDashboard()">No, Take me to Dashboard</a>
			</div>

		</div>
	</div>
</div>