<div class="input-wrap ">
  <div class="question-wrap">
    <p>What City and State are you interested in ?</p>
  </div>
  <form novalidate [formGroup]="cityStateForm">
    <div class="row">
      <div class="input-field  col-sm-6">
        <div class="form-group input-div">
          <input type="text" class="form-control" autofocus required formControlName="city">
          <span class="placeholder-label">City</span>
        </div>
      </div>
      <div class="input-field  col-sm-6">
        <div class="multi-select state-select">
          <button class="multiselect-button" (click)="buttonClick($event)">
                           <span>{{isStateSelected ? selectedStateValue : 'State'}}</span>
                           <span class="glyphicon glyphicon-menu-down select-icon fR"></span>
                        </button>
          <ul [ngClass]="{'hideMe':btnClick===false,'select-menu':true,'text-left':true}" class="select-menu text-left">
            <li *ngFor="let state of states" (click)="selectedState(state)">
              {{state}}</li>
          </ul>
        </div>
        <div class="error-text text-left hideMe">
          <span>error msg here</span>
        </div>
      </div>
    </div>
    <div class="button-wrap">
      <button type="button" class="primary-button"> Continue </button>
    </div>
  </form>
</div>
