<div class="col-sm-12 carousel carousel-3 no-pending-wrap">
	<div class="col-sm-10 col-lg-6 col-md-10 no-pending row">
		<div class="col-sm-3 col-lg-3 carousel-3-img no-pending-img summary-img">
			&nbsp;
		</div>
		<div class="col-xs-10 col-sm-9 col-lg-9 carousel-content ">
			<p>
				You do not have any pending items in your checklist!
			</p>
			<p class="second-line">
				We will get back to you if we need additional documents.
			</p>
			<div class="">
				<button type="button" (click)="loadDashboard()" class="primary-button">
                        Go to Dashboard
                    </button>
			</div>
		</div>
	</div>
</div>