<div class="main-content f1003-content">
    <div class="form-1003-wrap">
        <div class="card-wrap">
            <div class="text-center form-header">
                <span class="fR menu"></span>
                <span class="title">Borrowers</span>
                <span class="fL back"></span>
            </div>
            <div class="form-content edit-section">
                <h4>Review your information before moving to the next section!</h4>
                <!--current address-->
                <sl-review-borrower-current-address></sl-review-borrower-current-address>
                <!--previous address-->
                <sl-review-borrower-previous-address></sl-review-borrower-previous-address>
                <!--mailing address-->
                <sl-review-borrower-mailing-address></sl-review-borrower-mailing-address>
                <!--information-->
                <sl-review-co-borrower-information></sl-review-co-borrower-information>
                <!--US Veteran-->
                <sl-review-is-us-veteran></sl-review-is-us-veteran>
                <!--dob&ssn-->
                <div class="row edit-row">
                    <!--borrower dob&ssn-->
                    <sl-review-borrower-dob-ssn></sl-review-borrower-dob-ssn>
                    <!--co-borrower dob&ssn-->
                    <sl-review-borrower-dob-ssn></sl-review-borrower-dob-ssn>
                </div>
            </div>
        </div>
    </div>
</div>