<div class="loan-details-content row">
	<div class="col-md-12 col-sm-4 col-xs-6 loan-element">
		<p class="loan-label">{{resource.borrower}}</p>
		<p *ngIf= "loanDetails.borrowers[0]" class="loan-value">{{loanDetails.borrowers[0]?.last_name +' '+ loanDetails.borrowers[0]?.first_name}}</p>
		<p *ngIf= "!loanDetails.borrowers[0]" class="loan-value">N/A</p>
	</div>
	<div class="col-md-12 col-sm-4 col-xs-6 loan-element">
		<p class="loan-label">{{resource.borrower_address}}</p>
		<p *ngIf= "loanDetails.borrowers[0]" class="loan-value">{{loanDetails.borrowers[0]?.housenum +' '+ loanDetails.borrowers[0]?.address +' '+loanDetails.borrowers[0]?.city +' '+ loanDetails.borrowers[0]?.state + ' '+ loanDetails.borrowers[0]?.zip}}</p>
		<p *ngIf= "!loanDetails.borrowers[0]" class="loan-value">N/A</p>
	</div>
	<div class="col-md-12 col-sm-4 col-xs-6 loan-element">
		<p class="loan-label">{{resource.borrower_phone}}</p>
		<p *ngIf= "loanDetails.borrowers[0]" class="loan-value">{{loanDetails.borrowers[0]?.phone_number}}</p>
		<p *ngIf= "!loanDetails.borrowers[0]" class="loan-value">N/A</p>
	</div>
	<div class="col-md-12 col-sm-4 col-xs-6 loan-element">
		<p class="loan-label">{{resource.borrower_email}}</p>
		<p *ngIf= "loanDetails.borrowers[0]" class="loan-value">{{loanDetails.borrowers[0]?.email}}</p>
		<p *ngIf= "!loanDetails.borrowers[0]" class="loan-value">N/A</p>
	</div>
	<div *ngIf= "loanDetails.borrowers[1]" class="col-md-12 col-sm-4 col-xs-6 loan-element">
		<p class="loan-label">{{resource.coborrower1}}</p>
		<p  class="loan-value">{{loanDetails.borrowers[1]?.last_name +' '+ loanDetails.borrowers[1]?.first_name}}</p>
	</div>
	<div *ngIf= "loanDetails.borrowers[2]" class="col-md-12 col-sm-4 col-xs-6 loan-element">
		<p class="loan-label">{{resource.coborrower2}}</p>
		<p  class="loan-value">{{loanDetails.borrowers[2]?.last_name +' '+ loanDetails.borrowers[2]?.first_name}}</p>
	</div>
	<div *ngIf= "loanDetails.borrowers[3]" class="col-lg-12 col-sm-4 col-xs-6 loan-element">
		<p class="loan-label">{{resource.coborrower3}}</p>
		<p  class="loan-value">{{loanDetails.borrowers[3]?.last_name +' '+ loanDetails.borrowers[3]?.first_name}}</p>
	</div>
</div>