<div class="card-wrap ">
  <!-- header section -->
  <div class="text-center form-header">
    <span class="fR menu"></span>
    <span CLASS="title">Property</span>
    <span class="fL back"></span>
  </div>
  <div class="form-content">
    <div class="carousel-wrap">
      <div id="FormCarousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#FormCarousel"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner text-center">
          <div class="item active">
            <div digital1003-host></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
