<!--Change Password Page-->
<div class="container-fluid change-password-body  authentication-wrap">
    <!--<form #changePassword="ngForm" novalidate >-->
    <h1 class="login-heading text-center">Change Password</h1>
    <div class="change-password-box authentication-box">
        <form [formGroup]="changePwdForm" novalidate>
            <div  *ngIf="(!showDoneBtn && !showCancelBtn)" formGroupName="account">
                <div class="form-group old-password input-div">
                    <input type="password" class="form-control" autofocus required formControlName="oldPassword" />
                    <span class="placeholder-label">Old Password</span>
                    <div *ngIf="changePwdFormErrors.oldPassword !== ''" class="text-danger errtext-align error-text">
                        <label>{{changePwdFormErrors.oldPassword}}</label>
                    </div>
                </div>
                <div class="form-group new-password input-div">
                    <input type="password" class="form-control" required formControlName="newPassword" />
                    <span class="placeholder-label">New Password</span>
                    <div *ngIf="changePwdFormErrors.newPassword !== ''" class="text-danger errtext-align error-text">
                        <label>{{changePwdFormErrors.newPassword}}</label>
                    </div>
                </div>
                <div class="form-group confirm-password input-div">
                    <input type="password" class="form-control" required formControlName="confirmPassword" />
                    <span class="placeholder-label">Confirm Password</span>
                    <div *ngIf="changePwdFormErrors.confirmPassword !== ''" class="text-danger errtext-align error-text">
                        <label>{{changePwdFormErrors.confirmPassword}}</label>
                    </div>
                </div>
                <div class="form-group password-rules-div">
                    <span>Hint: Password should contain a minimum of 8 characters. Must contain a special character, a number, a lower case and an upper case letter.</span>
                </div>
            </div>
            <div *ngIf="showDoneBtn" class="form-group password-rules-div">
                <span>Success: Password changed successfully.</span>
            </div>
            <div *ngIf="showCancelBtn" class="form-group password-rules-div">
                <span>Failure: Technical error occurred while changing password.</span>
            </div>
            <div *ngIf="customerData?.TwoFactorEnabled && (!showDoneBtn && !showCancelBtn)" formGroupName="auth" class="verification-wrap">
                <h2 *ngIf="changePwdForm.get('auth').get('isOTPSent').value" class="verification-heading text-center">Verification Code Has Been Sent</h2>
                <h2 *ngIf="!(changePwdForm.get('auth').get('isOTPSent').value)" class="verification-heading text-center">Problem in sending error code. Please try again.</h2>
                <p class="enter-code-label">Please enter the code that was sent to <span>{{ changePwdForm.get('auth').get('phoneNumber').value? (changePwdForm.get('auth').get('phoneNumber').value|phoneNumberMask):'-'}}</span></p>
                <div class="form-group enter-code input-div">
                    <input type="password" formControlName="otpCode" class="form-control" />
                    <span class="placeholder-label">Enter Code</span>
                    <div *ngIf="changePwdFormErrors.otpCode !== ''" class="text-danger errtext-align error-text">
                        <label>{{changePwdFormErrors.otpCode}}</label>
                    </div>
                </div>

                <div class="resend-code-div">
                    <button (click)="sendOTPCode()" type="button" class="login-button secondary-button resend-code-btn btn-block">Re-Send Code</button>
                </div>

            </div>
            <div *ngIf="customerData && customerData.TwoFactorEnabled && !isDeviceRegistered && (!showDoneBtn && !showCancelBtn)" formGroupName="device" class="remember-device-div">
                <input formControlName="rememberMe" type="checkbox" id="remember-device" />
                <label for="remember-device" class="custom-checkbox"></label>
                <label for="remember-device" class="remember-device-label">Remember This Device</label>
            </div>
            <div *ngIf="!showDoneBtn && !showCancelBtn" class="cancel-submit-div">
                <button (click)="onCancel()" type="button" class="login-button cancel-button cancel-password fL">Cancel</button>
                <button (click)="onSubmit()" type="submit" class="login-button primary-button submit-password fR">Submit</button>
                <div class="clear"></div>
            </div>
            <div *ngIf="showDoneBtn" class="">
                <button (click)="onCancel()" type="button" class="login-button secondary-button btn btn-block">Done</button>
            </div>
            <div *ngIf="showCancelBtn">
                <button type="button" (click)="onCancel()" class="login-button btn btn-block cancel-button">Cancel</button>
            </div>
            <!--<div>
                <p style="color:white;">Is myForm valid?: <br>{{changePwdForm.valid | json}}</p>
                <p style="color:white;">Form status: {{changePwdForm.oldPassword | json}}</p>
                <p style="color:white;">Form: {{changePwdForm.value | json}}</p>
                <p style="color:white;">Form status: {{changePwdForm.errors | json}}</p>

            </div>-->
        </form>



    </div>
    <!--</form>-->
</div>