<div class="upload-file-wrap">
    <h3 class="content-heading">You can upload any additional documents requested for your loan here</h3>
    <div class="upload-file row">
        <sl-file-drop [isMultipleFileUpload]="'true'" (uploadFileEventHandler)="uploadFileHandler()"
        (fileSelectionHandler)="getdroppedFiles($event)"></sl-file-drop>
        <div class="col-sm-6 col-xs-12  drive-upload row">
            <div class="col-xs-12 text-center choose-drive-label">
                <span>Or choose a drive</span>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 text-center dropbox ">
                <img class="mouse-pointer"  (click)="uploadFromDropBox()" src="@SL_APP_ROOT_PATH@assets/images/dropBox_icon.png" />
                <p class="mouse-pointer " (click)="uploadFromDropBox()">Dropbox</p>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6 text-center gdrive ">
                <img class="mouse-pointer" (click)="uploadFromGoogleDrive()" src="@SL_APP_ROOT_PATH@assets/images/googleDrive_icon.png" />
                <p class="mouse-pointer" (click)="uploadFromGoogleDrive()">Google Drive</p>
            </div>
             <p class="col-xs-12 text-center credential-info">
                        Your credentials are not captured by our site, only the file selected by you is securely uploaded.
             </p>
        </div>
        <input type="file" id="fileUpload" style="display:none" [accept]="acceptedFileTypes" (change)="fileChangeEvent($event)" multiple>

        <div class="clear"></div>
    </div>
    <div class="file-btn-div">
        <div class="uploaded-files fL">
            <div *ngFor="let file of selectedFiles " class="file fL">
                <span class="file-name">{{file.name}}</span>
                <span class="remove-file fR glyphicon glyphicon-remove mouse-pointer" (click)="removeFile(file)"></span>
            </div>
        </div>
        <div class="validation-div fL">
            <span class="validation-msg success-text" [ngClass]="{'success-text': !isRetryVisible, 'danger-text': isRetryVisible }" >{{validationMessage}}</span>
            <span class="validation-msg danger-text">{{initialValidationMessage}}</span>
        </div>
        <div class="upload-button-div fR">
            <button *ngIf="!isRetryVisible" class="upload-button btn primary-button" [disabled]="!(selectedFiles && selectedFiles.length > 0)"
                (click)="onUploadDocumentClick()">Upload</button>
            <button *ngIf="isRetryVisible" class="retry-btn btn primary-button" (click)="onUploadDocumentClick()">Retry</button>
        </div>
        <div class="clear"></div>
    </div>
</div>
