<div class="card-wrap ">
    <!-- header section -->

    <div class="form-content">
        <div class="carousel-wrap">
            <div id="FormCarousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#FormCarousel"></li>
                </ol>

                <!-- Wrapper for slides -->
                <!-- input templates - start -->
                <div class="carousel-inner text-center">
                    <div class="item active">
                        <sl-borrower-current-address></sl-borrower-current-address>
                    </div>
                    <div class="item ">
                        <div class="input-wrap ">
                            <sl-borrower-previous-address></sl-borrower-previous-address>
                        </div>
                    </div>
                    <div class="item ">
                        <div>
                            <sl-borrower-apply-with-spouse></sl-borrower-apply-with-spouse>
                        </div>
                    </div>                    
                    <div class="item ">
                        <div class="single-col ">
                            <sl-borrower-spouse-personal></sl-borrower-spouse-personal>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="single-col ">
                            <sl-borrower-spouse-address></sl-borrower-spouse-address>
                        </div>
                    </div>
                    <div class="item ">
                        <div class="">
                        <sl-borrower-apply-with-someone-else></sl-borrower-apply-with-someone-else>
                        </div>
                    </div> 
                    <div class="item ">
                        <div class="single-col input-wrap">
                            <sl-borrower-ssn></sl-borrower-ssn>
                        </div>
                    </div>    
                    <div class="item ">
                        <div>
                            <sl-borrower-served-military></sl-borrower-served-military>
                        </div>
                    </div>  
                    <div class="item ">
                        <div>
                            <sl-borrower-pull-report></sl-borrower-pull-report>
                        </div>
                    </div>      
                    <!-- all input templates - end -->

                    <!-- button section -->
                    <!--<div class="button-wrap">
                        <button type="button " class="primary-button">
                                    Continue
                                </button>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>