<form>
<div class="input-wrap text-center">
    <div class="address-info">
        <div>
            <input type="checkbox" class="customCheckBox" id="current-add" />
            <label class="checked" for="current-add">This is Mary’s current address</label>
        </div>
        <div class="address">
            <p>123 Main Street,</p>
            <p>Irvine, CA, 93456</p>
        </div>
    </div>
    <div class="">
        <input type="checkbox" class="customCheckBox" id="mail-add" />
        <label class="checked" for="mail-add"><small>This is Mary’s mailing address</small></label>
    </div>
</div>
</form>