<div class="card-wrap ">
    <!-- header section -->
    <div class="text-center form-header">
        <span class="fR menu"></span>
        <span CLASS="title">Personal</span>
        <span class="fL back"></span>
    </div>
    <div class="form-content">
        <div class="carousel-wrap">
            <div id="FormCarousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#FormCarousel"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner text-center">
                    <div class="item active">
                        <!-- all input templates -->
                        <!-- input section -->
                        <sl-user-info></sl-user-info>
                    </div>
                    <!-- all input templates - end -->

                    <!-- button section -->
                    <!--<div class="button-wrap">
                        <button type="button " class="primary-button">
                                    Continue
                                </button>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>