<div class="f1003-content ">
	<div class="form-1003-wrap">
        <div class="card-wrap summary-wrap">
            <!-- header section -->
            <!--<div class="text-center form-header">
                <span class="title">Summary</span>
            </div>-->
            <div class="form-content text-center">
                <!-- question section -->
                <div class="question-wrap">
                    <!--<p class="welcome-text">Welcome <span>Geoff</span>, We can help you!</p>-->
                    <p>You can choose any of these sections to complete your information.</p>
                </div>
                <!-- input section -->
                <div class="input-wrap">
                    <div class="cards-wrap">
                        <div class="section-card">
                            <p class="action-text"><span></span></p>
                            <span class="icon-div personal-icon"><span class="items-left">2</span></span>
                            <p class="status-text"><span>Personal-<span>100%</span></span>
                            </p>
                        </div>
                        <div class="section-card">
                            <p class="action-text"><span></span></p>
                            <span class="icon-div borrower-icon"><span class="items-left">4</span></span>
                            <p class="status-text"><span>Borrowers-<span>100%</span></span>
                            </p>
                        </div>
                        <div class="section-card">
                            <p class="action-text"><span></span></p>
                            <span class="icon-div property-icon"><span class="items-left">5</span></span>
                            <p class="status-text"><span>Property-<span>100%</span></span>
                            </p>
                        </div>
                        <div class="section-card">
                            <p class="action-text"><span></span></p>
                            <span class="icon-div income-icon"><span class="items-left">3</span></span>
                            <p class="status-text"><span>Income-<span>100%</span></span>
                            </p>
                        </div>
                        <div class="section-card">
                            <p class="action-text"><span></span></p>
                            <span class="icon-div assets-icon"><span class="items-left">12</span></span>
                            <p class="status-text"><span>Assets-<span>100%</span></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>