<div class="container-fluid authentication-wrap license-wrap">
  <h1 class="login-heading text-center">End User License Agreement</h1>
  <div class="authentication-box">
    <div class="eula-wrap">
      <div class="license-scroll-wrap">
        <div class="eula-div">
          <iframe class="eula-frame" width="100%" height="100%" [src]="eulaSrc"></iframe>
        </div>
      </div>
      <div class="eula-btn">
        <button class="login-button primary-button btn" (click)="accept()">Accept</button>
        <button class="login-button cancel-button btn" (click)="decline()">Decline</button>
      </div>
    </div>
  </div>
</div>

<div class="session-expire modal fade in" id="session-expire-eula" data-backdrop="static" data-keyboard="false" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>By declining this user agreement, you are opting out of accessing your loan information through this Digital Mortgage
          Portal.</p>
          <p>Are you sure you want to decline?</p>
      </div>
      <div class="modal-footer action-div text-right">
        <button type="button" class="btn primary-button logout" (click)="redirectToEula()" data-dismiss="modal">No</button>
        <button type="button" class="btn primary-button continue" (click)="continue()" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>