<form>
    <div class="regular-input-wrap">
        <div class="regular-input text-left dob">
            <label>What is your date of birth?</label>
            <input type="text" class="form-control" placeholder="MM/DD/YYYY" />
        </div>
        <div class="regular-input text-left ssn">
            <label>Your social security number?</label>
            <div class="">
                <input type="text" class="form-control" placeholder="XXX" />
                <input type="text" class="form-control" placeholder="XXX" />
                <input type="text" class="form-control" placeholder="XXXX" />
            </div>
        </div>
        <div class="text-left">
            <input type="checkbox" class="customCheckBox" id="authorize-credit" />
            <label class="checked" for="authorize-credit">I authorize you to pull my credit report</label>
        </div>
    </div>
</form>