<div class="container-fluid forgot-password-body authentication-wrap">
    <h1 class="login-heading device-reg-heading text-center">
        Forgot Your Password?
        <p class="forgot-password-subheading text-center">Enter Your User ID to get your temporary password</p>
    </h1>
    <div class="forgot-password-box authentication-box">
        <form [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="onSubmit()">
            <div class="id-enter">
                <div class="form-group email-id-enter input-div">
                    <input type="text" class="form-control" autofocus required formControlName="userName">
                    <span class="placeholder-label">User ID</span>
                    <div *ngIf="forgotPasswordFormErrors.userName !== ''" class="text-danger errtext-align error-text">
                        <label>{{forgotPasswordFormErrors.userName}}</label>
                    </div>
                </div>
            </div>
            <div class="submit-btn-wrap reset-submit">
                <button type="submit" class="login-button primary-button request-btn btn-block">Request New Password</button>
            </div>
            <div class="back-link text-center">
                <a routerLink='/login'>Back to Sign In</a>
            </div>
        </form>
    </div>
</div>