<div class="edit-panel">
    <div class="panel-head">
        <button class="btn secondary-button fR edit-btn">Edit</button>
        <span class="edit-title">Mary's Information</span>
        <div class="clear"></div>
    </div>
    <div class="panel-content info">
        <div class="info-row row">
            <div class="info-label col-lg-3 col-md-3 col-sm-3 col-xs-4 text-right">Name:</div>
            <div class="info-value col-lg-9 col-md-9 col-sm-9 col-xs-8">Jane Doe</div>
        </div>
        <div class="info-row row">
            <div class="info-label col-lg-3 col-md-3 col-sm-3 col-xs-4 text-right">Email:</div>
            <div class="info-value col-lg-9 col-md-9 col-sm-9 col-xs-8">jane@gmail.com</div>
        </div>
        <div class="info-row row">
            <div class="info-label col-lg-3 col-md-3 col-sm-3 col-xs-4 text-right">Phone:</div>
            <div class="info-value col-lg-9 col-md-9 col-sm-9 col-xs-8">123-456-7890</div>
        </div>
        <div class="info-row row">
            <div class="info-label col-lg-3 col-md-3 col-sm-3 col-xs-4 text-right">Mailing Address:</div>
            <div class="info-value col-lg-9 col-md-9 col-sm-9 col-xs-8">Same as Current Address</div>
        </div>
    </div>
</div>