<form>
    <div class="question-wrap">
                    <!--<span class="card-icon welcome-icon"></span>                    -->
                    <p>How long have you stayed at the current address ?</p>
              </div>
    <div class="row">
        <div class="input-field  col-sm-6">
            <div class="form-group input-div">
                <input type="text" class="form-control" required>
                <span class="placeholder-label">Years of Stay</span>
            </div>
            <div class="error-text text-left hideMe">
                <span>error msg here</span>
            </div>
        </div>
        <div class="input-field  col-sm-6">
            <!--<div class="form-group input-div">
                                                    <input type="text" class="form-control" required>
                                                    <span class="placeholder-label">Months</span>
                                                </div>-->
            <div class="multi-select month-select">
                <button class="multiselect-button">
                                                        <span>Month</span>
                                                        <span class="glyphicon glyphicon-menu-down select-icon fR"></span>
                                                    </button>
                <ul class="select-menu text-left hideMe">
                    <li>01</li>
                    <li>02</li>
                    <li>03</li>
                </ul>
            </div>
            <div class="error-text text-left hideMe">
                <span>error msg here</span>
            </div>
        </div>
    </div>
    <div class="previous-address">
        <p class="text-left">What is your previous address? (We need last two years of residence history)</p>
        <div class="row">
            <div class="input-field col-sm-6">
                <div class="form-group input-div">
                    <input type="text" class="form-control" autofocus required>
                    <span class="placeholder-label">Street</span>
                </div>
                <div class="error-text text-left hideMe">
                    <span>error msg here</span>
                </div>
            </div>

            <div class="input-field  col-sm-6">
                <div class="form-group input-div">
                    <input type="text" class="form-control" required>
                    <span class="placeholder-label">(Optional) Unit/Apt</span>
                </div>
                <div class="error-text text-left hideMe">
                    <span>error msg here</span>
                </div>
            </div>

            <div class="input-field  col-sm-6">
                <div class="form-group input-div">
                    <input type="text" class="form-control" required>
                    <span class="placeholder-label">Zip</span>
                </div>
                <div class="error-text text-left hideMe">
                    <span>error msg here</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field  col-sm-6">
                <div class="form-group input-div">
                    <input type="text" class="form-control" required>
                    <span class="placeholder-label">City</span>
                </div>
                <div class="error-text text-left hideMe">
                    <span>error msg here</span>
                </div>
            </div>
            <div class="input-field  col-sm-6">
                <!--<div class="form-group input-div">
                                                        <input type="text" class="form-control" required>
                                                        <span class="placeholder-label">State</span>
                                                    </div>-->
                <div class="multi-select state-select">
                    <button class="multiselect-button">
                                                            <span>State</span>
                                                            <span class="glyphicon glyphicon-menu-down select-icon fR"></span>
                                                        </button>
                    <ul class="select-menu text-left hideMe">
                        <li>CA</li>
                        <li>GS</li>
                        <li>MI</li>
                    </ul>
                </div>
                <div class="error-text text-left hideMe">
                    <span>error msg here</span>
                </div>
            </div>
        </div>
        <p class="text-left">How long have you stayed at your previous address?</p>
        <div class="row">
            <div class="input-field  col-sm-6">
                <div class="form-group input-div">
                    <input type="text" class="form-control" required>
                    <span class="placeholder-label">Years of Stay</span>
                </div>
                <div class="error-text text-left hideMe">
                    <span>error msg here</span>
                </div>
            </div>
            <div class="input-field  col-sm-6">
                <!--<div class="form-group input-div">
                                                        <input type="text" class="form-control" required>
                                                        <span class="placeholder-label">Months</span>
                                                    </div>-->
                <div class="multi-select month-select">
                    <button class="multiselect-button">
                                                            <span></span>
                                                            <span class="glyphicon glyphicon-menu-down select-icon fR"></span>
                                                        </button>
                    <ul class="select-menu text-left hideMe">
                        <li>01</li>
                        <li>01</li>
                        <li>03</li>
                    </ul>
                </div>
                <div class="error-text text-left hideMe">
                    <span>error msg here</span>
                </div>
            </div>
        </div>
    </div>

</form>