<!--Change Password Page-->
<div class="container-fluid change-password-body  authentication-wrap temp-password">
    <!--<form #changePassword="ngForm" novalidate >-->
    <h1 class="login-heading text-center">Choose a New Password</h1>
    <div class="change-password-box authentication-box">
        <form [formGroup]="changePassWordForm" novalidate (ngSubmit)="onSubmit()">
            <div>
                <div class="form-group new-password input-div">
                    <input type="password" class="form-control" required formControlName="newPassword" />
                    <span class="placeholder-label">New Password</span>
                    <div *ngIf="changePassWordFormErrors.newPassword !== ''" class="text-danger errtext-align error-text">
                        <label>{{changePassWordFormErrors.newPassword}}</label>
                    </div>
                </div>
                <div class="form-group confirm-password input-div">
                    <input type="password" class="form-control" required formControlName="confirmPassword" />
                    <span class="placeholder-label">Confirm Password</span>
                    <div *ngIf="changePassWordFormErrors.confirmPassword !== ''" class="text-danger errtext-align error-text">
                        <label>{{changePassWordFormErrors.confirmPassword}}</label>
                    </div>
                </div>
                <div class="form-group password-rules-div">
                    <span>Hint: Password should contain a minimum of 8 characters. Must contain a special character, a number, a lower case and an upper case letter.</span>
                </div>
            </div>
            <div class="enable-2fa" *ngIf="canChangeTwoFA">
                <label class="enable-2fa-label">Enable Two Factor Authentication</label>
                <div class="btn-group on-off-button fR enable-2fa-btn" data-toggle="buttons">
                    <label class="btn btn-default" [ngClass]="{'active':changePassWordForm.value.isTwoFaEnabled === true}">
                        <input formControlName="isTwoFaEnabled" [value]=true type="radio"  id="on-2fa" autocomplete="off" > 
                            On
                     </label>
                    <label class="btn btn-default" [ngClass]="{'active':changePassWordForm.value.isTwoFaEnabled === false}">
                        <input formControlName="isTwoFaEnabled" [value]=false type="radio" id="off-2fa" autocomplete="off">
                            Off
                    </label>
                </div>
            </div>
            <div 
                *ngIf="canChangeTwoFA?(changePassWordForm.value.isTwoFaEnabled && !authCallBackEventArgs.otpSent)
                :false">
                <div class="enter-num-wrap">
                    <p class="enter-phone-label">Enter Your Mobile Number To Receive Code</p>
                    <div class="input-div phone-input">
                        <input class="form-control phone-number" type="text" pattern="\d*"  formControlName="phoneNumber"/>
                        <span class="placeholder-label">Phone Number</span>
                        <div *ngIf="changePassWordFormErrors.phoneNumber !== ''" class="text-danger errtext-align error-text">
                            <label>{{changePassWordFormErrors.phoneNumber}}</label>
                        </div>
                    </div>

                </div>
                <div class="resend-code-div">
                    <button (click)="getCode()" type="button" class="login-button primary-button resend-code-btn btn-block">Get Code</button>
                </div>
            </div>


            <div class="verification-wrap" 
                *ngIf="canChangeTwoFA? (changePassWordForm.value.isTwoFaEnabled && authCallBackEventArgs.otpSent):
                    input.twoFAEnabled">
                <h2 class="verification-heading text-center">Verification Code Has Been Sent</h2>
                <p class="enter-code-label">Please enter the code that was sent to {{authCallBackEventArgs?.maskedPhoneNumber}}</p>
                <div class="form-group enter-code input-div">
                    <input type="password" formControlName="otpCode" class="form-control" required />
                    <span class="placeholder-label">Enter Code</span>
                    <div *ngIf="changePassWordFormErrors.otpCode !== ''" class="text-danger errtext-align error-text">
                        <label>{{changePassWordFormErrors.otpCode}}</label>
                    </div>
                </div>

                <div class="resend-code-div">
                    <button type="button" (click)="getCode()" class="login-button secondary-button resend-code-btn btn-block">Re-Send Code</button>
                </div>
                <div class="remember-device-div" *ngIf="(canChangeTwoFA && changePassWordForm?.value?.isTwoFaEnabled) || (!canChangeTwoFA && !isDeviceAlreadyRegistered)">
                    <input formControlName="rememberMe" type="checkbox" id="remember-device" />
                    <label for="remember-device" class="custom-checkbox"></label>
                    <label for="remember-device" class="remember-device-label">Remember This Device</label>
                </div>
            </div>
            <div *ngIf="changePassWordForm.value.isTwoFaEnabled?authCallBackEventArgs.otpSent:true" class="">
                <button class="login-button primary-button submit-password btn-block ">Submit</button>
            </div>
        </form>



    </div>
    <!--</form>-->
</div>