<div class="col-sm-6">
    <div class="edit-panel">
        <div class="panel-head">
            <button class="btn secondary-button fR edit-btn">Edit</button>
            <span class="edit-title">DOB & SSN</span>
            <div class="clear"></div>
        </div>
        <div class="panel-content address">
            <div class="info-row row">
                <div class="info-label col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right">DOB:</div>
                <div class="info-value col-lg-7 col-md-7 col-sm-7 col-xs-7">08/02/1976</div>
            </div>
            <div class="info-row row">
                <div class="info-label col-lg-5 col-md-5 col-sm-5 col-xs-5 text-right">SSN:</div>
                <div class="info-value col-lg-7 col-md-7 col-sm-7 col-xs-7">123-567-1567</div>
            </div>
        </div>
    </div>
</div>