<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="CD App Virtual Dir Rewrite" stopProcessing="false">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="consumerdirect.stearns.com" />
                    </conditions>
                    <action type="Rewrite" url="/cd/{R:0}" />
                </rule> 
                <rule name="CD App Route Rewrite" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
	                    <add input="{HTTP_HOST}" pattern="consumerdirect.stearns.com" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/cd/" />
                </rule>  
				
		        <rule name="LO App Virtual Dir Rewrite" stopProcessing="false">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="orijindigital.stearns.com" />
                    </conditions>
                    <action type="Rewrite" url="/lo/{R:0}" />
                </rule>    
                <rule name="LO App Route Rewrite" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
	                    <add input="{HTTP_HOST}" pattern="orijindigital.stearns.com" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/lo/" />
                </rule>              
                
				<rule name="Premia CD App Virtual Dir Rewrite" stopProcessing="false">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="consumerdirect.premiarelocationmortgage.com" />
                    </conditions>
                    <action type="Rewrite" url="/cd/{R:0}" />
                </rule> 
                <rule name="Premia CD App Route Rewrite" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
	                    <add input="{HTTP_HOST}" pattern="consumerdirect.premiarelocationmortgage.com" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/cd/" />
                </rule>  
		        
				<rule name="Premia LO App Virtual Dir Rewrite" stopProcessing="false">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="orijindigital.premiarelocationmortgage.com" />
                    </conditions>
                    <action type="Rewrite" url="/lo/{R:0}" />
                </rule>    
                <rule name="Premia LO App Route Rewrite" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
	                    <add input="{HTTP_HOST}" pattern="orijindigital.premiarelocationmortgage.com" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/lo/" />
                </rule>    
			</rules>
        </rewrite>
    </system.webServer>
</configuration>
